/*********** HTML TAG SELECTORS ***********/
body {
  margin: 0;
  text-align: center;
  font-family: 'Forum', cursive;
  font-weight: normal;
  font-size: 15px;

}

h1 {
  font-family: 'Sacramento', cursive;
  font-weight: bold;
  font-size: 5.625rem;
  color: #66BFBF;
  margin: 50px auto;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  color: #66BFBF;
  font-size: 2.3rem;
  font-weight: lighter;
  line-height: 2;
}

p{
    line-height: 2;
}

h3 {
  color: #11999E;
  font-size: 1.5rem;
}

a {
  color: #11999E;
}

hr{
  border: dotted #EAF6F6 7px;
  /* u can specify style, color, and size in one line*/
  border-bottom: none;
  border-left: none;
  border-right: none;
  width: 5%;
  margin: auto;
}
/*********** CLASS SELECTORS ***********/
.underline {
  text-decoration: underline;
}

.top-container {
  background-color: #eff6f7;
  position: relative;
  padding-top: 150px;
  padding-bottom: 0px;

}

.top-cloud {
  position: absolute;
  top: 30px;
  right: 300px;
}

.mntn{
  padding: 0;
  margin: 0;
}

.bottom-cloud {
  position: absolute;
  bottom: 300px;
  left: 300px;
}



.profile {
  width: 50%;
  margin: 100px auto;
  line-height: 2;
  /*dont forget: margin: auto centers everything*/
}

.skills{
  margin: 100px auto 100px auto;
}
.skill-row {
  width: 50%;
  margin: 50px auto 50px auto;
  text-align: left;
  line-height: 2;
}

.SKILL-IMG1 {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.SKILL-IMG2 {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.contact-me{width: 50%; margin: 100px auto 100px auto; line-height: 2}

.BUTTON {
  margin-top: 30px;
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #FFFFFF;
   font-family: 'Montserrat', sans-serif;
   font-size: 20px;
   font-weight: 500;
   padding: 20px;
   background-color: #11999E;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.BUTTON:hover {
   border: solid #11999E 1px;
   background: #1E62D0;
   background-image: -webkit-linear-gradient(top, #1E62D0, #1199NAN);
   background-image: -moz-linear-gradient(top, #1E62D0, #1199NAN);
   background-image: -ms-linear-gradient(top, #1E62D0, #1199NAN);
   background-image: -o-linear-gradient(top, #1E62D0, #1199NAN);
   background-image: -webkit-gradient(to bottom, #1E62D0, #1199NAN);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}

.bottom-container {
  margin: 40px auto 0 auto;
  padding-top: 40px;
  line-height: 3;
  background-color: #66BFBF;
  font-family: 'Forum', cursive;

}

.footer-link{
  text-transform: full-width;
  color: #11999E;

  font-size: 18px;
  font-weight: bolder;
  line-height: 2;
  margin: 30px;
}

.whiten{
  color: white;
  margin: 0;
}

/*********** ID TAG SELECTORS ***********/
